.post-from-container {
  margin: 30px 0px;
  background: whitesmoke;
}

.post-from-container .post-from-header {
  padding: 12px 10px;
}

.post-from-container .btn {
  padding: 5px !important;
  margin: 0 5px;
}

.post-from-container .form {
  width: 98% !important;
  background: white;
  height: 100px;
  padding: 10px;
}

@media (max-width: 768px) {
  .post-from-container .form {
    width: 96% !important;
  }
}

.post-from-container .form .d-flex {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.post-from-container .form .form-group {
  width: 100% !important;
  height: 100%;
}

.post-from-container .form .form-group textarea {
  border-radius: 0px;
  background: white;
  margin: 0px !important;
  padding: 0px !important;
  height: 100%;
}

.post-from-container .post-from-footer {
  padding: 5px 10px;
}

.post-from-container .post-from-footer .svg-img {
  width: 30px;
}

.post-container {
  width: 70%;
  margin: 0 auto;
}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input__label {
  cursor: pointer;
}

.popup.popup-post-form .popup-content {
  padding: 0;
  bottom: unset;
  overflow: hidden;
}

.popup.popup-post-form .popup-content .thumbnail {
  position: relative;
}

.popup.popup-post-form .popup-content .thumbnail img {
  width: 100px;
  height: 100px;
}

.popup.popup-post-form .popup-content .thumbnail .svg-img {
  width: 20px;
  position: absolute;
  background: white;
  height: 20px;
  left: 89px;
  top: -5px;
  border-radius: 50%;
  cursor: pointer;
}

.popup.popup-post-form .popup-content .form {
  height: 40vh;
}

.posts {
  padding: 20px;
}

.posts .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.posts .post-body p {
  font-weight: 300;
}

.posts .post-body .total {
  background: whitesmoke;
  padding: 10px;
  margin: 10px 0px;
}

.posts .post-body .total .like,
.posts .post-body .total .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.posts .post-body .total .like img,
.posts .post-body .total .comment img {
  margin-right: 7px;
  cursor: pointer;
}

.posts .post-body .comments .comment-body {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.posts .post-body .comments .comment-body .text {
  background: whitesmoke;
  padding: 10px;
  margin-bottom: 10px;
  width: 95%;
}

.posts .post-body .comments input {
  width: 96.59%;
}

.posts .post-body .form {
  width: 100%;
  margin: 0em;
  padding: 0;
}

.replay-section {
  margin-left: 65px;
}

.comments {
  margin-right: 30px;
  position: relative;
  z-index: 1;
}

.dot-body {
  position: absolute;
  right: -13px;
  background: #2c2c2c;
  padding: 12px;
  z-index: 9;
  padding-top: 45px;
  color: white;
  font-size: 14px;
  line-height: 1.5;
  margin-top: -47px;
  -webkit-clip-path: polygon(65% 24%, 76% 7%, 85% 23%, 100% 23%, 100% 100%, 0 100%, 0 25%);
  clip-path: polygon(65% 24%, 76% 7%, 85% 23%, 100% 23%, 100% 100%, 0 100%, 0 25%);
}

.dot-body p {
  cursor: pointer;
}
/*# sourceMappingURL=Post.css.map */